LLM_BASE_URL=https://api.deepseek.com/chat/completions
LLM_API_KEY=sk-a7a4a198d6f541519d44f421c3a39e48ysx
LLM_CHAT_MODEL=deepseek-chat

MYSQL_HOST=127.0.0.1
MYSQL_USER=ysx
MYSQL_PASSWORD=123456
MYSQL_DATABASE=YSX

HOST=127.0.0.1
PORT=12378

AMAP_MAPS_API_KEY=9bc2bca80b67ecc80a4943313b6053cfysx
PORT=9999
